{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Estudio list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Nombre</th>
                <th>Fechainicio</th>
                <th>Fechafin</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('estudio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cliente }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.fechainicio %}{{ entity.fechainicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechafin %}{{ entity.fechafin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.activo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('estudio_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('estudio_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('estudio_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
